*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
body {
    background-color: #000;
    color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    margin: 10px;
    display: flex;
    padding: 5px 20px 10px;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
}
.links > ul {
    list-style-type: none;
    display: flex;
} 
.links > ul > li {
    padding: 0 15px;
    color: #AAA;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -4px;
    bottom: -1px;
    background-color: rgb(53, 118, 203);
    transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(35, 67, 110);
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
    transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
} 
.slider.round:before {
    border-radius: 50%;
}
button {
    padding: 10px 15px;
    background-color: #4A80E2;
    color: white;
    border: none;
    border-radius: 20px;
}
.type-selector {
    display: flex;
    justify-content: space-evenly;
}
.type-selector div{
    width: 100%;
    padding: 3px;
}
.type-selector p {
    text-align: center;
}
#grids{
    color: #4A80E2;
    border-bottom:2px solid #4A80E2;
}
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
    
}
#list{
    display: none;
}
.card {
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    font-size: small;
    flex-direction: column;
    gap: 25px;
    margin: 10px;
}   
.logo {
    display: flex;
}
.name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 1.2rem;
}
.name > .fname {
    color: #AAA;
    font-size: 14px;
}
.percent > span{
    border: 1px solid rgb(115, 182, 111);
    padding: 5px 12px;
    border-radius: 20px ;
    color: rgb(115, 182, 111);
}
.price > span {
    color: rgb(123, 196, 119);
}
.total_volume,.market_cap span{
    color: #AAA;
}
@media screen and  (min-width: 700px){
    #container{
        grid-template-columns : repeat(4, 1fr);
    }
}

@media screen and  (max-width: 700px){
    #container{
        grid-template-columns : repeat(2, 1fr);
    }
    .navbar,.links{
        flex-direction: column;
        font-size: 0.9rem;
        gap: 10px;
    }
}

@media screen and  (max-width: 400px){
    .navbar,.links, .links > ul{
        flex-direction: column;
        font-size: 0.9rem;
        gap: 5px;
    }
    #container{
        grid-template-columns : repeat(1, 1fr);
        margin: 10px;
    }
    button {
        padding: 8px 12px;
        background-color: #4A80E2;
        color: white;
        border-radius: 20px;
        border: none;
    }
}
.table {
    padding: 20px;
}
.table .logo {
    display: flex;
}
tr{
    text-align: center;
}
td > img {
    display: inline;
}
td.name > tr {
    width:30px;
}
td{
    width: 1%;
    padding: 10px 2px;
}
td span.figures{
 color: rgb(123, 196, 119);
}
td span.big_figures{
    color: #AAA;
}